/*
html{
    min-height: 300%;
    position:relative;
}
*/

html {
    display: block;
    min-height: 400%;
    position:relative;
}
body{
   font-family: comic Arial, Helvetica, sans-serif;
   /*text-align: left;*/
   padding:0px;
   margin:0px;
}


.lyrics {
    color: inherit;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.pie-pagina .grupo-1{
    width:100%;
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:20px;
    padding:20px 0px;
}
.pie-pagina .grupo-1 .red-social a{
    display :inline-block;
    text-decoration: none;
    width:45px;
    height: 45px;
    line-height:45px;
    color:#fff;
    margin-right:20px;
    background-color: #0d2033;
    text-align:center;
}
header{
    width:100%;
    height: 200px;
    background: var(--color-esqueleto) ;

}
footer{
    position:absolute;
    left:0px;
    bottom:0px;
    height:150px;
    width:100%;
    background:#999;
}

.padre-table{
    display: table;
    height:60px;
    width: 100%;
  } 
 .content{
    background: #00848A;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

.pie-pagina.grupo-2{
    padding:15px 20x;
    text-align: center;
}
*{
    padding:0px;
    margin:0px;
}
#header1{
    margin:auto;
    width:850px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.nav li a{
    background-color: #009c8c;
    color: #fff;
    text-decoration:none;
    display : block;
    padding:20px 35px;
    
}
.nav > li {
    float:left;
}

.nav li a:hover{
    background: #4e5b5c;
    color:#fff;
}
.nav li ul{
    display:none;
    position:absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display:block;
}
.nav , .nav1 {
    list-style: none;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right:-140px;
    top:0px
}
.checkbtn{
    font-size: 10px;
    color: #fff;
    float:right;
    line-height:10px;
    margin-right:40px;
}
.profile {
  /*
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    */
    text-align: center;
    width: 100%;
}
.profile2{
    text-align: center;
    width: 100%;
}
.profile3{
    text-align: center;
    width: 100%;
}
.sia{
    width: 100%;
}

.slider{
    width:130%;
    margin:auto;
}
.slider ul{
    display:flex;
    padding:0;
    width:800;
}
.slider li {
    width:150%;
    list-style:none;
}
.slider img{
    width:100%
}